body {
  font-family: PT Astra Sans;
   background-color: #e9e9f0;
   }
.footer {background-color: #2e34e5;
   position: fixed;
   right: 0;
   bottom: 0;
   text-align: center;
   width: 99%;
   font-size: 19px;
   font-weight: bold;
   color: #FF4F00;
 }
div.ModalDialogWindow a.button {
      background-color: #FF4F00;
      border: none;
      color: white;
      padding: 20px 34px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      border-radius: 4px;
      }
div.ModalDialogWindow button.btn-secondary {
      background-color: #FF4F00;
      border: none;
      color: white;
      padding: 20px 34px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      border-radius: 4px;
      }
div.ModalDialogWindow h5.txt{
    color: white;
}
div.modal-content {
      background-color: #4160E1;
}
div.div_menu .button {
      background-color: #FF4F00;
      border: none;
      color: white;
      padding: 20px 30px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 16px 10px;
      cursor: pointer;
      height: 100%;
}
nav.navbar-menu div.div_menu{
      height: 100%;
}
div.div_menu .button_menu {
      border-radius: 15px;
}
div.div_menu .profil {
    border-radius: 50%;
    float: left;

}
nav.navbar-menu {
      background-color: #4160E1;
      display: flex;
      justify-content: space-around;
}
div.sps_lots {
    overflow: scroll;
    height: 500px;
    padding: 5px;
}

.btn-sell {
    background-color: #FF4F00;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 8px 10px;
    cursor: pointer;
    border-radius: 5px;
}
a.profil:hover img {
  background-color: #fafaff;
  opacity: 0.3;
}
a.out:hover img {
  background-color: #fafaff;
  opacity: 0.3;
}
div.item {
    margin: 10px;
}
div.ll {
    padding: 5px;
    background-color: #f5f5dc ;
}
div.in_item {
    padding: 5px;
    border: 5px;
    background-color: #DD7538 ;
    border-radius: 5px;
}
div.in_item .btn-buy{
    color: #FF4F00;
}

.container {
    width: auto;
    max-width: 1152px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 18px;
    padding-right: 18px;
}

.dashboard-packages__title {
    margin-bottom: 0;
    min-height: 28px;
    color: #fafaff;
    font-size: 22px;
    line-height: 28px;
}
.dashboard-packages__link-block {
    margin-top: 27px;}
.dashboard-packages__remnants {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.dashboard-packages__remnant {
    margin-top: 12px;
    width: 50%;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
.dashboard-container__row {
    display: flex;
    color: #fafaff;
    margin-left: 36px;
    width: calc(80% - 18px);
    padding: 18px;
    margin-bottom: 18px;
    background-color: #f5f5dc;
    border-radius: 8px;
}
.dashboard-balance {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dashboard-balance__balance-link {
    font-weight: bold;
}
.dashboard-balance__balance-amount {
    margin-top: 7px;
    font-size: 40px;
    line-height: 40px;
    height: 40px;
    font-weight: bold;
}
.dashboard-balance__abonent-fee {
    margin-top: 18px;
    min-height: 22px;
}
.dashboard-pac {
    background-color: #4160E1;
    color: #fafaff;
    margin-left: 36px;
    width: calc(50% - 18px);
    padding: 18px;
    margin-left: 36px;
    width: calc(50% - 18px);
    padding: 18px;
    margin-bottom: 18px;
    border-radius: 8px;
}
form.tariff_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    font-size: 30px;
}
