<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style_base.css"/>
    <title>{{ title }}</title>
</head>
<body>
<nav class="navbar-menu nav">
    <div class="div_menu">
        <a href="/" class="button_menu button">SignalSprint</a>
        <a href="/tarifs" class="button_menu button">Тарифы</a>
        <a href="/market" class="button_menu button">Маркет</a>
        {% if current_user.is_authenticated %}
        <a href="/lots" class="button_menu button">Добавить свой лот</a>
        {% endif %}
    </div>
    <div class="div_menu">
        {% if current_user.is_authenticated %}
        <a href="/profiles" class="profil button">
            {% if current_user.is_authenticated %}
            <img src='static/img/reg_profil.png'><br>
            {{ current_user.name }}
            {% endif %}
        </a>
        <a class="navbar-brand profil button" href="/logout">
            <img src='static/img/go_out.png'>
        </a>
        {% else %}
        <p>
            <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
            <a class="btn btn-success" href="/login">Войти</a>
        </p>
        {% endif %}
    </div>
</nav>
<nav>

</nav>

<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}

    {% endblock %}
</main>
<div class="container my-5">
    <footer class="text-center text-lg-start" style="background-color: #db6930;">
        <div class="container d-flex justify-content-center py-5">
            <button type="button" class="btn btn-primary btn-lg btn-floating mx-2"
                    style="background-color: #54456b;">
                <i class="fab fa-facebook-f"></i>
            </button>
            <button type="button" class="btn btn-primary btn-lg btn-floating mx-2"
                    style="background-color: #54456b;">
                <i class="fab fa-youtube"></i>
            </button>
            <button type="button" class="btn btn-primary btn-lg btn-floating mx-2"
                    style="background-color: #54456b;">
                <i class="fab fa-instagram"></i>
            </button>
            <button type="button" class="btn btn-primary btn-lg btn-floating mx-2"
                    style="background-color: #54456b;">
                <i class="fab fa-twitter"></i>
            </button>
        </div>
        <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Copyright:
            <a class="text-white" href="https://www.google.com/">SignalSprint.ru</a>
        </div>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
    $('#exampleModalCenter').modal('show');
    });



</script>
</body>
</html>
