{% extends "base.html" %}

{% block content %}
<style>
	.s_sprint {font-size: 50px;}
    .note {font-size: 20px;}
</style>

<table>
    <tr>
    <th>
        <img style="width: 600px; height: 600px;" src="static/img/logo_signal_sprint.png">
    </th>
    <th>
        <div class="s_sprint" align="center">Signal Sprint - ваш надежный партнер в мире связи!</div>
    </th>
    </tr>
</table>
<div class="s_sprint" align="center">
    Выгодные тарифы ждут тебя!
</div>
<div class="note" align="center">
    Сайт создали ученики Яндекс Лицея: Ерёмченко Владимир и Огарков Вячеслав
</div>
{% endblock %}