{% extends "base.html" %}

{% block content %}
<h1>Тарифы</h1>
<table>
    <tr>
        <th>
            {% for item in tariff %}
            <div class="tariff">
                <div>
                    <h2>{{item.name_tariff}}</h2>
                </div>
                <div>
                    Гигабайты: {{item.quantity_gb}}
                </div>
                <div>
                    Минуты: {{item.quantity_minuts}}
                </div>
                <div>
                    СМС: {{item.quantity_sms}}
                </div>
                <div>
                    Всего {{item.coast}} рублей
                </div>
            </div>
            {% endfor %}
        </th>
        {% for i in range(30) %}
        <th><p style="color:#E9E9F0">. </p> </th>
        {% endfor %}
        <th>
            {% if aut_us == True %}
                {% if tar_ya == True %}
                <div>
                    <p style="font-size:40px">Тариф подключен!</p>
                </div>
                <div>
                    <form method="post">
                        <div align="center">
                            <button type="submit" class="btn btn-primary">Изменить тариф</button>
                        </div>
                    </form>
                </div>
                {% else: %}
                <div><p style="font-size:40px">Недостаточно средств</p></div>
                {% endif %}
            {% else: %}
            <div><p style="font-size:40px">Войдите в аккаунт для</p></div>
            <div align="center"><p style="font-size:40px">подключения тарифа</p></div>
            {% endif %}
        </th>
    </tr>
</table>

<h2>С нами выгодно!</h2>
{% endblock %}